body {
  font-family: Avenir, Helcetica, Arial, sans-serif;
  color:#000;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 1.5;
  background-color: #fff;
  background-position: center;
  padding: 0;
  margin: 0;
  padding-top: 80px;
}

* {
  /* paddingとborderを幅と高さに含める */
  box-sizing: border-box;
}

img {
  /* 画像を縦方向の中央揃えに指定 */
  vertical-align: middle;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.to__top__icon {
  width: 5%;
  position: fixed;
  right: 3%;
  bottom: 1%;
  z-index: 10;
}

/* Main View */
.mv {
  /* 元々いた位置を基準にして要素を配置する */
  position: relative;
}

/* 画像をウインドウ幅に収める */
.mv__image__list__item1 {
  height: 500px;
  width: 100%;
  /* 自動的に縮小、トリミングをする */
  object-fit: cover;
}

.mv__image__list {
  position: relative;
  /* はみ出た部分を表示しない */
  overflow: hidden;
}

.mv__name {
  /* 移動するときの基準がウインドウ、または親要素 */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 文字を縦横中央にする */
  transform: translate(-50%,-50%);
  /* 奥行（前後）の位置関係を1番前にする */
  z-index: 1;
  text-align: center;
}

.mv__name p {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1rem;
  /* 文字を中央寄せ */
  text-align: center;
}

/* Top Page */
.topics__header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.topics__header__image {
  height: 50px;
}

.toppage__hr {
  border: 0.5px solid #a9a9a9;
  width: 10%;
  margin-top: 2%;
}

.topics__contents {
  padding: 0 10%;
  /* 折り返す */
  flex-wrap: wrap;
  margin-bottom: 100px;
  display: flex;
}

.topics__contents__card {
  /* 画面に３カード入れるための細かい値になっている */
  max-width: 31.3%;
  margin: 1%;
  position: relative;
  /* 要素を並列にする */
  display: flex;
  /* 主軸の方向と起点終点の位置をブロック要素と同様にする */
  /* つまりカードの画像と文章とフッターを縦並びにする */
  flex-direction: column;
  /* 長い単語は単語の途中で自動改行、短い単語は単語の切れ目で自動改行 */
  word-wrap: break-word;
  /* 背景画像の表示領域をパディングとボーダーを含みマージンを含まないボーダーボックスに設定する */
  background-clip: border-box;
  /* 枠線 */
  border: 1px solid rgba(0,0,0,.125);
  /* 角を丸くする */
  border-radius: 0.5%;
}

.topics__contents__card__img {
  border-top-right-radius: 0.5%;
  border-top-left-radius: 0.5%;
  /* 縮み率の指定 */
  flex-shrink: 0;
  width: 100%;
}

.topics__contents__card__comment {
  /* アイテムの幅を指定 */
  flex: 1 1 auto;
  padding: 20px;
}

.card-title {
  margin-bottom: 6px;
  margin-top: 0;
}

.topics__contents__card__footer {
  padding: 12px 20px;
  border-top: 1px solid rgba(0,0,0,.125);
  border-radius: 0.5%;
  background-color: rgba(0,0,0,.03);
}

.btn {
  color: #fff;
  font-weight: 700;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  color: #212529
}

.topics__contents__card__footer {
  height: 70px;
}

/* info */
.info__header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.info__header__img {
  height: 50px;
}

.toppage__hr {
  border: 0.5px solid #a9a9a9;
  width: 10%;
  margin-top: 2%;
}

.info__contents {
  /* 主軸の幅の中央に揃える */
  justify-content: center;
  margin-bottom: 100px;
  display: flex;
}

td {
  padding: 20px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.info__contents__table {
  border-collapse: collapse;
}

.info__contents__table__date {
  font-weight: 700;
  color: #d2b48c;
}

.info__contents__table__text {
  width: 500px;
}

.info__contents__table__text__link {
  color: #000;
  text-decoration: none;
}

.info__contents__table__text__link:hover {
  color: #007bff;
  text-decoration: underline;
}

/* リンク先 */
.add__info__header {
  padding: 20px 5%;
  margin-bottom: 40px;
  background-color: #fffacd;
}

.info__title {
  margin-top: 10px;
}

.info__contents__2 {
  padding: 0 5% 40px;
}

.info__contents__pdf {
  padding: 30px 0;
}

.pdf__link {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #000000;
  font-weight: bold;
  color: #fff;
}

.info__contents__pdf:hover {
  text-decoration: none;
  color:#fff;
}

/* navbar */
.navbar {
  height: 80px;
  padding-right: 5%;
  padding-left: 5%;
  background-color: #fff;
  color: rgba(0,0,0,.5);
  display: flex;
  /* フレックスボックスアイテムの位置を真ん中にする */
  align-items: center;
  /* 画面を上部固定 */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* 奥行のレイヤー設定 */
  z-index: 1030;
}

/* ありなしの変化がわからなかった */
.nav__link {
  width: 5%;
  margin-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar__list {
  /* 伸び方の比率 */
  flex-grow: 1;
}

.navbar__link__logo {
  width: 56px;
  height: 58px;
}

.navbar__list__nav {
  display: flex;
  padding-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar__list__nav__item__link:hover {
  color: #212529;
  text-decoration: none;
}

.navbar__list__nav__item__link {
  color: rgba(0,0,0,.5);
  padding: 8px;
  text-decoration: none;
}

.navbar__sns {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar__sns__img {
  height: 15px;
  margin: auto 10px;
}

.navbar__sns__icon {
  font-size: 3rem;
  color: #a9a9a9;
}

.footer {
  height: 100px;
  display: flex;
  /* 左右の中央 */
  justify-content: center;
  /* 上下の中央 */
  align-items: center;
  flex-direction: column;
  background-color: #000;
  font-size: .5rem;
  color: #fff;
}

.footer__privacy-policy {
  height: 50%;
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.footer__privacy-policy__link {
  color: #fff;
}

a {
  text-decoration: none;
}

.footer__copyright {
  height: 50%;
  padding-top: 5px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

/* privacy policy */

.privacy__policy__header {
  padding: 20px 5%;
  margin-bottom: 40px;
  background-color: #fffacd;
}

.privacy__policy__contents{
  padding: 0 5% 40px 5%;
}

.privacy__policy__contents__list {
  padding-left: 16px;
  list-style: none;
  margin-top: 0;
}

.privacy__policy__hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid #a9a9a9;
}